body{
    padding: 0;
    margin: 0;
}
.sect1{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 42px;

}


.slick-slider ul{
    list-style:none;
    display: inline-block;
    text-align: center;
}
.slick-slider ul li{
    display: inline-block;
    margin: 50px;
}

.slick-slider button{
    background: rgb(255, 255, 255);
    border-radius: 100%;
    width: 24px;
    height: 24px;
}
.slick-slider button font font{
    color: transparent;
}

.slick-active button{
    background: gray; 
}

.img-carrousel{
    height: 50%;
}

.slick-track{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    /* margin: 40px 52px; */
    }
    .slick-track img{
       margin: 30px;
        max-width: 75vw;
        }
    

.slick-track .slick-slide{
      display: flex; 
        justify-items: center;
        flex-direction: column;
    }


