.img-carrousel img{
    max-height: 100%;
    display: inline;
}

.sect1{
    background-color: #F3E5F5;
    padding: 42px;

}

.slick-dots{
    display: flex;
    justify-content: space-around;
}

.slick-dots li.slick-active button:before{
    color: #999;
}

.slick-dots li button:before{
    font-size: 1.5rem;
    color: white;
    opacity: 1;
}

/* .slick-track {
    display: flex;
}
.slick-track .slick-slide {
    flex-direction: column;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  } */